*.[oa]
*.s
*.out
*.gch

# Ignore the eclipse file
.project

# Ignore the directory containing
# playful c implementations
c/

# Ignore the library directories
boost_1_65_0/
mtl_root/

# Ignore .git projects used for reference
aes/
cpp17_in_TTs/
armadillo-code/
